body{
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    background-color: whitesmoke;
}

/*  STYLE MENU  */

nav{
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(180, 185, 201, 0.6);
}
.logo-box p{
    font-size: 36px;
    font-family: 'fantasy';
    border-bottom: 2px solid black;
    width: 230px;
    text-align: center;
}


.menu{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.menu li{
    margin: 0 2em;
}
.menu li button{
    width: 150px;
    padding: 5px 12px;
    background-color: rgb(81, 90, 121);
    color: whitesmoke;
    font-size: 24px;
    border-radius: 7px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu li button:hover{
    opacity: 0.8;
}

/* header - Jumbotron */

.jumbotron-box{
    margin: 3em 0;
    display: flex;
    justify-content: center;
}
.jumbotron-box img{
    width: 1200px;
    height: 450px;
}

/* Section - content */

.section-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 600px;
    padding: 1.5em 1.5em;
    border: 2px solid gray;
    border-radius: 5px;
    justify-content: space-around;
}
.content-img-box{
    max-width: 550px;
    max-height: 350px;
}
.content-img-box img{
    max-width: 550px;
    max-height: 350px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.content-img-box img:hover{
    max-width: 555px;
    max-height: 355px;
    opacity: 0.7;
}
.content-button-box button{
    padding: 0.5em 3em;
}

/* gallery */

.section-gallery{
    display: flex;
    justify-content: center;
    margin: 5em auto;
    flex-wrap: wrap;
}
.container-item-gallery img{
    max-width: 450px;
    max-height: 250px;
    margin: 1em;
    cursor: pointer;
    position: relative;
    bottom: 0;
    transition: 0.5s ease-in-out;
}
.container-item-gallery img:hover{
    opacity: 0.7;
    bottom: 10px;
}
.container-item-gallery p{
    display: none;
}

/* Footer */

footer{
    background-color: rgba(180, 185, 201, 0.6);
    display: flex;
    justify-content: space-around;
    padding: 2em;
}
.footer-colum p{
    height: 25px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    left: 0;
    transition: 0.3s ease-in-out;
    font-family: 'fantasy';
}
.footer-colum p:hover{
    color: rgb(238, 122, 44);
    left: 5px;
}
.footer-icon-box{
    display: flex;
    align-items: center;
    height: 35px;
}
.footer-icon-box p span i{
    margin-right: 7px;
    font-size: 18px;
    width: 20px;
}
.footer-icon-box .icon-map{
    margin-right: 27px;
}